<h1>Actor #<%= @actor.id %></h1>

<table>

<tr>
<td valign="top" colspan = "2">Name:</td>
<td valign="top"><%=@actor.name%></td>
</tr>

<tr>
<td valign="top" colspan = "2">Dob:</td>
<td valign="top"><%=@actor.dob%></td>
</tr>

<tr>
<td valign="top" colspan = "2">Bio:</td>
<td valign="top"><%=@actor.bio%></td>
</tr>

<tr>
<td valign="top" colspan = "2">Image:</td>
<td valign="top"><img src="<%= @actor.image_url %>" width="320"></td>
</tr>

</table>

<button><a href="http://localhost:3000/actors"</a>GO BACK</button>
